eureka:
   client:
      register-with-eureka: true
      fetch-registry: true
      service-url: 
         defaultZone: http://localhost:8761/eureka/
   instance:
      hostname: localhost
      
spring:
   zipkin:
      base-url: http://localhost:9411/
   cloud:
      gateway:
         routes:
            - id: USER-SERVICE
              uri: lb://USER-SERVICE
              predicates:
                - Path=/users/**
            - id: DEPARTMENT-SERVICE
              uri: lb://DEPARTMENT-SERVICE
              predicates:
                - Path=/departments/**


test.dummy: sasikumar243
